#orderTable {
    width: 1280px;
    margin: 100px auto;
    border: 1px solid black;
}

#orderTableLabels {
    
}

.label {
    display: inline-block;
    box-sizing: border-box;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #b3b6ba;
}

.field {
    display: inline-block;
    box-sizing: border-box;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 5px;
}

.idNumberCell {
    width: 315px;   
}

.nameCell {
    width: 100px;
}

.addressCell {
    width: 100px;
    text-align: center;
    padding-left: 0px;
}

.expandable {
    box-shadow: 1px 1px 4px;
}

.expandable:hover {
    cursor: pointer;
    background-color: lightblue;
}

.active {
    background-color: lightblue;
}
.amountCell {
    width: 80px;
}

.dateCell {
    width: 210px
}

.orderItemsCell {
    width: 60px;
    text-align: center;
    padding-left: 0px;
}

#pageControls {
    display: flex;
    margin: 7px auto;
    width: 300px;
    justify-content: space-between;

}

.inactive {
    color: #e1e3e6;
    cursor: default;
}

.clickable {
    cursor: pointer;

}

.clickable:hover {
    color: steelblue;
}

.orderAddress{
    border-bottom: 1px solid black;
    padding: 10px;
}